.heading{
    color: blue;
    font-family: Roboto;
    font-weight: 800px;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#btn-1{
    width: 100px;
    border-radius: 10px;
}
#card-1{
    height:200px;
    border-radius: 20px;
    background-color: antiquewhite;
    
}
.bg-1{
    height: 100vh;
    background-color: bisque;
}
.sc{
    overflow:scroll;
    overflow-x:hidden;

}
#h-3{
    font-size: 20px;
    border-radius: 5px;
    border-width: 2px;
    border: dotted black;
}
.out{
    font-family: Roboto;
    border-radius: 10px;
    border: solid rgb(123, 123, 126);
    border-width: 1.5px;
    padding: 7px;
    width: 45px;
    height: 40px;
}
.p-1{
    color: black;
    font-family: Roboto;
}
#card-2{
    height:500px;
    border-radius: 20px;
    background-color: antiquewhite;
}
.inner-card{
    background-color: antiquewhite;
    height: 700px;
}
.c-a{
    background-color: orange;
    color: white;
}
.out.link{
    cursor: pointer !important;
}
